.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.clock {
  /* border: 1px solid blue; */
}

h2{
  border: 2px solid black;
  /* margin: 1% 20% 0 20%; */
}

p{
  border: 2px solid purple;
  /* border-radius: 100px; */
  /* margin: 1% 40% 0 40%; */
}
.row{
  display: flex;
  justify-content: center;
}